Indian Startup Funding Hiring Watchlist.json
{
  "name": "Indian Startup Funding Hiring Watchlist",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "745e2e62-1391-4ae1-88ad-a7442895083b",
      "name": "Daily 7AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        336,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const today = new Date();\nconst yesterday = new Date(today.getTime() - 24*60*60*1000);\nconst sources = [\n  {name:'YourStory', searchUrl:'https://yourstory.com/search?q=funding'},\n  {name:'Inc42', searchUrl:'https://inc42.com/?s=funding'},\n  {name:'Entrackr', searchUrl:'https://entrackr.com/?s=funding'},\n  {name:'GoogleNews', searchUrl:'https://news.google.com/search?q=indian%20startup%20funding%202025%202026&hl=en-IN&gl=IN&ceid=IN:en'},\n  {name:'IndianStartupNews', searchUrl:'https://indianstartupnews.com/?s=funding'},\n  {name:'The Economic Times', searchUrl:'https://economictimes.indiatimes.com/topic/startup-funding'},\n  {name:'Mint', searchUrl:'https://www.livemint.com/topic/startups'},\n  {name:'Reuters', searchUrl:'https://www.reuters.com/site-search/?query=India startup funding'},\n  {name:'Crunchbase', searchUrl:'https://www.crunchbase.com/discover/organization.companies'}\n];\nreturn sources.map(s => ({json:{...s, runDate: today.toISOString(), since: yesterday.toISOString()}}));"
      },
      "id": "e3b986d1-e68b-4daf-8c43-8f6c0bce839d",
      "name": "Build Source List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        96
      ]
    },
    {
      "parameters": {
        "url": "={{$json.searchUrl}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        }
      },
      "id": "a6cd2591-8e0a-4e2e-ae19-c56c9385a090",
      "name": "Fetch Source Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        784,
        96
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const html = $json.body || $json.data || $json;\n\n// ✅ Extract all links BEFORE cleaning\nconst links = [];\nconst linkMatches = String(html).matchAll(/href=\"(https?:\\/\\/[^\"]+)\"/g);\n\nfor (const match of linkMatches) {\n  links.push(match[1]);\n}\n\n// Optional: remove duplicates\nconst uniqueLinks = [...new Set(links)].slice(0, 50);\n\n// ✅ Clean readable text\nconst text = String(typeof html === 'string' ? html : JSON.stringify(html))\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .slice(0, 15000);\n\n// ✅ Return both text + links\nreturn [{\n  json: {\n    source: $item(0).$node['Build Source List'].json.name,\n    sourceUrl: $item(0).$node['Build Source List'].json.searchUrl,\n    pageText: text,\n    links: uniqueLinks\n  }\n}];"
      },
      "id": "784b1547-cf0a-4824-95c3-a2be333205d4",
      "name": "Clean HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        96
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are extracting Indian startup funding news from a webpage.\n\nReturn ONLY valid JSON in this format:\n\n{\n  \"articles\": [\n    {\n      \"startup_name\": \"\",\n      \"startup_description\": \"\",\n      \"investors\": \"\",\n      \"amount_raised\": \"\",\n      \"round_type\": \"\",\n      \"founder_name\": \"\",\n      \"article_title\": \"\",\n      \"article_url\": \"\",\n      \"announcement_date\": \"\",\n      \"evidence\": \"\"\n    }\n  ]\n}\n\nSTRICT RULES:\n\n- Extract AT LEAST 10 articles if available\n- Each article MUST be different\n- Only Indian startup funding news\n- Ignore duplicates\n\nFIELD RULES:\n- startup_name → Company name only\n- founder_name → Extract if clearly mentioned, otherwise \"Unknown\"\n- article_url → MUST be the ACTUAL article link (not source page URL)\n- announcement_date → MUST be a date (YYYY-MM-DD format only)\n- amount_raised → Only funding amount (not date)\n- hiring_score → DO NOT include anything about score\n- DO NOT hallucinate missing links or founders\n\nDATA CLEANING RULES:\n- If any field is unclear → use \"Unknown\"\n- NEVER put dates in amount_raised or other fields\n- NEVER use {{$json.sourceUrl}} as article_url\n\nONLY include articles from the last 120 days (approx 4 months).\n\nIf the article is older than 120 days → IGNORE it.\n\nCRITICAL:\n- Output MUST be valid JSON\n- No missing commas\n- No trailing commas\n- No extra text\n- Do NOT break JSON formatting\n\nAvailable Links:\n{{$json.links}}\n\nTEXT:\n{{$json.pageText}}"
      },
      "id": "ad7b7f11-dc50-4071-a222-f379c93dc129",
      "name": "Extract Funding Articles",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1232,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "let raw = $json.text || $json.response || $json.output || '';\n\nif (typeof raw !== 'string') {\n  raw = JSON.stringify(raw);\n}\n\n// Extract JSON block\nconst match = raw.match(/\\{[\\s\\S]*\\}/);\n\nif (!match) {\n  return [];\n}\n\nlet jsonString = match[0];\n\n// 🔥 CLEAN COMMON LLM ISSUES\njsonString = jsonString\n  .replace(/,\\s*}/g, '}')        // trailing commas\n  .replace(/,\\s*]/g, ']')        // trailing commas in arrays\n  .replace(/\\n/g, ' ')           // remove line breaks\n  .replace(/\\r/g, ' ')\n  .replace(/\"\\s+\"/g, '\", \"')     // missing comma between strings\n  .replace(/\"\\s*\"/g, '\", \"')     // another fix\n  .replace(/([}\\]])\\s*([{\\[])/g, '$1,$2'); // missing comma between objects\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(jsonString);\n} catch (e) {\n  // 🔥 fallback: don't break workflow\n  return [];\n}\n\n// Ensure array\nconst articles = Array.isArray(parsed.articles) ? parsed.articles : [];\n\nreturn articles.map(a => ({\n  json: a || {}\n}));"
      },
      "id": "bdc7bc4f-77d8-442e-b7cc-91a9411c9e5a",
      "name": "Explode Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        96
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const originalJson = typeof $json === 'object' && $json !== null ? $json : {};\nconst startup = $json.startup_name || '';\n\nconst founders = ($json.founder_name || startup || '').trim();\n\nconst linkedinSearch = `https://www.linkedin.com/search/results/people/?keywords=${encodeURIComponent(founders + ' founder ' + startup)}`;\n\nconst slug = startup.toLowerCase().replace(/[^a-z0-9]+/g, '-');\n\nconst crunchbaseUrl = `https://www.crunchbase.com/organization/${slug}`;\n\nreturn {\n  json: {\n    ...$json,\n    founder_name: $json.founder_name || 'Unknown',\n    founder_linkedin: linkedinSearch,\n    crunchbase_url: crunchbaseUrl\n  }\n};"
      },
      "id": "eaebde2d-68cf-4a93-92b4-02ffd01f203e",
      "name": "Build Enrichment Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        96
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function score(item){\n  let s = 0;\n\n  const amtRaw = item.amount_raised || '';\n\n  const amt = /(\\$|₹|million|crore|billion)/i.test(amtRaw)\n    ? amtRaw.toLowerCase()\n    : '';\n\n  const round = (item.round_type || '').toLowerCase();\n\n  const desc = ((item.startup_description || '') + ' ' + (item.evidence || '')).toLowerCase();\n\n  if (['pre-seed','seed','series a','series b'].some(x => round.includes(x))) s += 20;\n\n  if (/(million|crore|billion|lakhs|usd|\\$|₹)/.test(amt)) s += 15;\n\n  if (/(expand|expansion|hire|hiring|growth|scale|product|engineering|market|team)/.test(desc)) s += 20;\n\n  if (/(ai|saas|fintech|healthtech|deeptech|climate|ev|consumer|enterprise)/.test(desc)) s += 15;\n\n  s += 30;\n\n  const band = s >= 80 ? 'High' : s >= 60 ? 'Likely' : s >= 40 ? 'Watchlist' : 'Low';\n\n  return {score:s, band};\n}\n\nconst {score: hiring_score, band: hiring_signal} = score($json);\n\nreturn {\n  json: {\n    ...$json,\n    hiring_score,\n    hiring_signal\n  }\n};"
      },
      "id": "c3fff286-3dcd-4e4d-a203-23bb8a612ac7",
      "name": "Score Hiring Signal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        96
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1zvF9IIaWlrIL2UfDTJDSwCykz7lOz3wMFRtMnAbQgLI"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1zvF9IIaWlrIL2UfDTJDSwCykz7lOz3wMFRtMnAbQgLI/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "Run Date": "2026-04-19",
            "Startup Name": "Zepic AI",
            "Description": "AI-powered customer engagement platform helping brands automate marketing workflows.",
            "Investors": "ccel, Blume Ventures",
            "Amount Raised": "$8 Million",
            "Round Type": "Series A",
            "Founder Name": "Arjun Mehta",
            "Founder LinkedIn": "https://www.linkedin.com/search/results/people/?keywords=Arjun%20Mehta%20Zepic%20AI%20founder",
            "Crunchbase": "https://www.crunchbase.com/textsearch?q=Zepic%20AI",
            "Article Title": "Zepic AI raises $8M Series A to expand AI marketing platform",
            "Article URL": "https://example.com/zepic-ai-funding",
            "Announcement Date": "2026-04-18",
            "Hiring Score": "85",
            "Hiring Signal": "High",
            "Evidence": "Plans to expand engineering and product teams across India."
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Run Date",
              "displayName": "Run Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Startup Name",
              "displayName": "Startup Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Investors",
              "displayName": "Investors",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Amount Raised",
              "displayName": "Amount Raised",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Round Type",
              "displayName": "Round Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Founder Name",
              "displayName": "Founder Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Founder LinkedIn",
              "displayName": "Founder LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Crunchbase",
              "displayName": "Crunchbase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Article Title",
              "displayName": "Article Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Article URL",
              "displayName": "Article URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Announcement Date",
              "displayName": "Announcement Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hiring Score",
              "displayName": "Hiring Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hiring Signal",
              "displayName": "Hiring Signal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Evidence",
              "displayName": "Evidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "4ea48bb9-e6d4-4530-a0f3-79947e948720",
      "name": "Append to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2464,
        96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Embi4wxpGjHFHjW1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nrows.sort((a,b)=>(b.hiring_score||0)-(a.hiring_score||0));\nconst top = rows.slice(0,10);\nconst tr = top.map(r => `<tr><td>${r.startup_name||''}</td><td>${r.startup_description||''}</td><td>${r.investors||''}</td><td>${r.amount_raised||''}</td><td><a href=\"${r.founder_linkedin||'#'}\">LinkedIn</a></td><td>${r.hiring_signal||''} (${r.hiring_score||0})</td></tr>`).join('');\nconst html = `<h2>Indian Startup Funding Hiring Watchlist</h2><p>Top funded Indian startups most likely to open jobs or internships soon.</p><table border=\"1\" cellpadding=\"8\" cellspacing=\"0\"><tr><th>Startup</th><th>Description</th><th>Investors</th><th>Amount</th><th>Founder LinkedIn</th><th>Hiring Signal</th></tr>${tr}</table><p>Sent automatically by your daily n8n workflow.</p>`;\nreturn [{json:{subject:`Daily Indian Startup Funding Hiring Watchlist - ${new Date().toISOString().slice(0,10)}`, html}}];"
      },
      "id": "1220cef1-06d8-44ef-af48-d89094cb9801",
      "name": "Build Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        96
      ]
    },
    {
      "parameters": {
        "sendTo": "adijain1106@gmail.com",
        "subject": "={{$json.subject}}",
        "message": "={{$json.html}}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "b1592e91-e496-4d64-a31b-70f482a61049",
      "name": "Send Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2912,
        96
      ],
      "webhookId": "cb0b989f-069c-406f-9ec2-4e87201e106a",
      "credentials": {
        "gmailOAuth2": {
          "id": "G2xgawThbXqbdlu0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1312,
        320
      ],
      "id": "01c8411e-328d-4c71-8946-8c5ce4313cd2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "PPGUEnnHH95OvPO7",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Daily 7AM": {
      "main": [
        [
          {
            "node": "Build Source List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Source List": {
      "main": [
        [
          {
            "node": "Fetch Source Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Source Page": {
      "main": [
        [
          {
            "node": "Clean HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean HTML": {
      "main": [
        [
          {
            "node": "Extract Funding Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Funding Articles": {
      "main": [
        [
          {
            "node": "Explode Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Explode Articles": {
      "main": [
        [
          {
            "node": "Build Enrichment Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Enrichment Links": {
      "main": [
        [
          {
            "node": "Score Hiring Signal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Hiring Signal": {
      "main": [
        [
          {
            "node": "Append to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Google Sheet": {
      "main": [
        [
          {
            "node": "Build Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email": {
      "main": [
        [
          {
            "node": "Send Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Funding Articles",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7b3823bd-19e5-498b-b08c-cb7d1420d563",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "21240b5aa4dac8e6748a953890b753d40d49a2ab5912c01ffe9fb59ebb42d5e3"
  },
  "id": "WniJBHU3qDjB4PjH",
  "tags": []
}